@import url(https://fonts.googleapis.com/css?family=VT323);

body{
  overflow-x: hidden;
  color: white;
  margin: 0;
  background-color: 000000;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


.jj-container{
  width: 100%;
  overflow: hidden;
  position:relative;
  margin-left: 0%;
  font-family: "VT323", serif;
  
}

/* grid container */

.grid {
    display:grid;
    grid-template-areas:
        'header'
        'main-content'
        'left-sidebar'
        'right-sidebar'
        'footer';
}

/* general column padding */
.grid > * {
    padding:1rem;
}

/* assign columns to grid areas */
.grid > .header {
    grid-area:header;
    background:#000000;
    padding-bottom:0rem;
    width: 100%;
}
.header img {
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
    padding-top:0rem;
}

.grid > .main-content {
    grid-area:main-content;
    background:#000000;
    padding-top:0rem;
    width: 100%;

}
.main-content img {
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
    padding-top:0rem;
}
.grid > .left-sidebar {
    grid-area:left-sidebar;
    background:#000000;
    padding-top:0rem;
    width: 100%;

}
.left-sidebar img {
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
    padding-top:0rem;
}

.grid > .right-sidebar {
    grid-area:right-sidebar;
    background:#000000;
    width: 100%;

}
.right-sidebar img {
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.grid > .footer {
    grid-area:footer;
    background:#000000;
    padding:0rem;
}
.footer{
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
  color: white;
  background-color: #000000;
  position: relative;
}
.footer img {
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.jj-btn{
  text-align: center;
	display: inline-block;
  font-size: 30px;
  background-color: lightgray;
  text-shadow: -.5px -.5px black, .5px .5px white;
  color: gray;
  box-shadow: .1em .1em gray;
  cursor: pointer;
}
.jj-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
  background-color: yellow;

}
.marquee{
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 100%;
    background-color: red;
    height: 1rem;
    line-height: 1em;
}
.marquee p{
    animation: scroll-left 15s linear infinite;
}
.photo-frame {
  background-image: url('../assets/tv.png');
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 800px;
  height: 800px;
  position: relative;

  /* For demo */
  margin: 0 auto;
}
#video {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 55%;
}

.popup{
  top: 20%;
  right:0;
  position: absolute;
  width:200px;
  overflow: hidden;
  animation: 10s slide-left;
  animation-iteration-count: infinite;
}

@keyframes slide-left {
0% {
  margin-right: -100%;
}
50% {
  margin-right: 0%;
}
75% {
  margin-right: 0%;
}
100% {
  margin-right: -100%;
}
}

.popup img{

  width:100%;

}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.jj-container a:hover {
  color: red;
  background-color: yellow;
  text-decoration: none;
  cursor: url("../assets/cursor.png"), auto;
}
.jj-container img {
   cursor: url("../assets/cursor.png"), auto;
}
.tab-buttons button.active {
      background-color: #007bff;
      color: white;
      border-color: #007bff;
}

/* Tab content */
.tab-content {
  display: none;
  padding: 20px;
}

.tab-content.active {
  display: block;
}
/* @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }*/

  ::-webkit-scrollbar {
    margin-bottom: 4vh;
    box-shadow: rgba(10, 37, 64, 0.28) 0px -32px 16px 3px inset;
    /* box-shadow: inset 0px 0px 3vh 0.3vh #797777; */
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.719) 50%, rgba(0, 0, 0, 0) 100%);;
    border-radius: 50vh;
    display: inline-block;
    padding: 1.2vh 1.2vh;
    text-decoration: none;
  }

.container-main{
  display: flex;
 height: 100vh;
   /*overflow-y: hidden;*/
}

.about {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  position: absolute;
}

#content {
    flex-grow: 1;
    white-space: nowrap;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

#content.active {
  cursor: grabbing;
}


.timeline {
  display: flex;
  gap: 0px;
}

.timeline-item {
  flex: 0 0 auto;
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
  transition: transform .2s;
  transition: background 0.5s;
  cursor: pointer;
  opacity: 0.5;
}

.timeline-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.timeline-item:hover  {
    transform: scale(1.5);
    opacity: 1;
    z-index:999;
}

.hover-bg {
    visibility: hidden;
}

body:not(.mobile) .timeline-item:hover + .hover-bg {
    visibility: visible;
    pointer-events: none;

}

.hover-bg {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/* Change width and height to scale images */
    width: 100vw;
    height: 100vh;
}

.hover-bg video {
    min-width: 100vw !important;
    min-height: 100vh !important;
    width: auto !important;
    height: auto !important;
    margin-bottom: 0;
}

#about {
     width: 100%;
     padding: 1em;
     position: fixed;
     top: 0;
     left: 0;
     transition: height 0.3s ease-in-out;
     overflow: hidden;
     height: 50px;
     background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.719) 50%, rgba(0, 0, 0, 0) 100%);
     z-index: 1000;
     font-size: 14px;
   }

   #about.expanded {
     height: 200px;
   }
#contents {
     width: 100%;
     padding: 1em;
     position: fixed;
     top: 0;
     left: 0;
     height: 50px;
     background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.719) 50%, rgba(0, 0, 0, 0) 100%);
     z-index: 1000;
     font-size: 14px;
   }
   
   #about a:hover {
    text-shadow: 2px 2px 10px #ffffff;
    filter: dropshadow(color=#ffffff, offx=2, offy=2);
    font-style: italic;
    text-decoration: underline dotted;
    
   }

    #contents a:hover {
    text-shadow: 2px 2px 10px #ffffff;
    filter: dropshadow(color=#ffffff, offx=2, offy=2);
    font-style: italic;
    text-decoration: underline dotted;
   }

   #active {
    text-shadow: 2px 2px 10px #ffffff;
    filter: dropshadow(color=#ffffff, offx=2, offy=2);
    font-style: italic;
    text-decoration: underline dotted;

   }

   #read-more {
     width: 100%;
     text-align: left;
     font-size: 14px;
     cursor: pointer;
     border-radius: 5px;
     border: 2px white;
     border-radius: 5px;
     color: white;
     font-family: "Times New Roman", Times, serif;
     background-color: inherit;
   }

   .tooltiptext {
     visibility: hidden;
     background-color: black;
     color: #fff;
     text-align: center;
     padding: 5px 0;
     font-size: 10px;

     /* Position the tooltip */
     position: absolute;
     z-index: 1;
     top: 95%;
     left: 50%;
     overflow: hidden;

   }

   .timeline-item:hover .tooltiptext {
     visibility: visible;
   }

  .panel-container-vertical {
  display: flex;
  flex-direction: column;
  min-width: 100vw !important;
  min-height: 100vh !important;
  width: auto !important;
  height: auto !important;
  overflow: hidden;
}

.panel-top {
  flex: 0 0 auto;
  /* only manually resize */
  max-height: 95%;
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  top: 40px;
  position: relative;
    margin-left: auto;
  margin-right: auto;
}

.splitter-horizontal {
  flex: 0 0 auto;
  height: 5px;
  cursor: row-resize;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
  position: relative;

}

.panel-bottom {
  flex: 1 1 auto;
  /* resizable */
  padding: 1em;
  min-height: 200px;
  font-size: 14px;
  background: black;
  position: relative;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* tablet breakpoint*/
@media (min-width:768px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            'header '
            'main-content'
            'left-sidebar' 'right-sidebar'
            'footer';
    }
#contents {
     width: 100%;
     padding: 1em;
     position: fixed;
     top: 0;
     left: 0;
     height: 75px;
     background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.719) 50%, rgba(0, 0, 0, 0) 100%);
     z-index: 1000;
     font-size: 14px;
   }

}
/* mobile breakpoint */
@media only screen and (max-width: 600px) {

.photo-frame {
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
    height: 400px;
    position: relative;
    margin: 0 auto;
}
.tab-content {
    padding: 0px;
    max-width: 100%;
}
.grid > * {
    padding:0.5rem;
}
#contents {
     width: 100%;
     padding: 1em;
     position: fixed;
     top: 0;
     left: 0;
     height: 150px;
     background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.719) 50%, rgba(0, 0, 0, 0) 100%);
     z-index: 1000;
     font-size: 14px;
   }
}


/* Vid content */
.vid-content {
  display: none;
  padding: 20px;
}

.vid-content.active {
  display: block;
}
    #film {
    position: absolute;
    top: 25%;
    left: 35%;

}

/* desktop breakpoint */
@media (min-width:1024px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            'header header header header header'
            'left-sidebar main-content main-content main-content right-sidebar'
            'footer footer footer footer footer';
    }
    #video {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 55%;
}
}