@import url(https://fonts.googleapis.com/css?family=VT323);

body{
  overflow-x: hidden;
  color: white;
  margin: 0;
  font-family: "VT323", serif;

}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px red;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.jj-container{
  width: 100%;
  overflow: hidden;
  position:relative;
  margin-left: 0%;
}

/* grid container */

.grid {
    display:grid;
    grid-template-areas:
        'header'
        'main-content'
        'left-sidebar'
        'right-sidebar'
        'footer';
}

/* general column padding */
.grid > * {
    padding:1rem;
}

/* assign columns to grid areas */
.grid > .header {
    grid-area:header;
    background:#000000;
    padding-bottom:0rem;
}
.header img {
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
    padding-top:0rem;
}

.grid > .main-content {
    grid-area:main-content;
    background:#000000;
    padding-top:0rem;
}
.grid > .left-sidebar {
    grid-area:left-sidebar;
    background:#000000;
    padding-top:0rem;
}
.left-sidebar img {
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
    padding-top:0rem;
}

.grid > .right-sidebar {
    grid-area:right-sidebar;
    background:#000000;
}
.right-sidebar img {
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.grid > .footer {
    grid-area:footer;
    background:#000000;
    padding:0rem;
}
.footer img {

}

.jj-btn{
  text-align: center;
	display: inline-block;
  font-size: 30px;
  background-color: lightgray;
  text-shadow: -.5px -.5px black, .5px .5px white;
  color: gray;
  box-shadow: .1em .1em gray;
  cursor: pointer;
}
.jj-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
  background-color: yellow;

}
.marquee{
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 100%;
    background-color: red;
    height: 2rem;
    line-height: 0em;
}
p{
    animation: scroll-left 15s linear infinite;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: yellow;
  text-decoration: none;
}
img {
    cursor: pointer;
}

@keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
tablet breakpoint
@media (min-width:768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'header header'
            'main-content main-content'
            /*'left-sidebar right-sidebar'*/
            'footer footer';
    }
}

/* desktop breakpoint */
@media (min-width:1024px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
            'header header header header header'
            'left-sidebar main-content main-content main-content right-sidebar'
            'footer footer footer footer footer';
    }
}
